#editor {
  flex-grow: 1;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#editor .toolbar {
  background: #222;
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  position: relative;
  z-index: 10;
}

.cm-editor {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar: overlay;
}

.cm-panel.cm-panel-lint ul [aria-selected].cm-diagnostic-warning {
  color: #111;
}

.ͼ1 .cm-lintRange-active {
  background-color: #ffdd9940;
  color: #fff;
}
